In [1]:
import pandas

In [12]:
spending_practical_df = pandas.read_table("data/intro_pandas_practical.tsv")

In [13]:
spending_practical_df.head()

,unique_id,doctor_id,specialty,medication,nb_beneficiaries,spending
0,BK982218,1750389599,INTERNAL MEDICINE,AZITHROMYCIN,12,77.26
1,CG916968,1952344418,CARDIOLOGY,SIMVASTATIN,85,767.83
2,SA964720,1669522744,INTERNAL MEDICINE,INSULIN DETEMIR,14,5409.29
3,TR390895,1639597115,STUDENT IN AN ORGANIZED HEALTH CARE EDUCATION/...,LOSARTAN POTASSIUM,11,65.62
4,JA436080,1073781571,NEUROLOGY,LAMOTRIGINE,12,8873.70

In [14]:
spending_practical_df.shape

(54, 6)

In [16]:
spending_practical_df["spending"]

0        77.26
1       767.83
2      5409.29
3        65.62
4      8873.70
5       121.34
6       310.97
7      2726.72
8     10253.35
9       355.43
10     2565.44
11      340.75
12      349.58
13     2791.18
14      118.89
15     2837.07
16    15272.18
17      440.79
18     3078.49
19     2239.34
20     8045.03
21      618.52
22     1456.08
23     1491.24
24     1730.84
25     1219.38
26       89.30
27     5846.93
28      327.12
29      311.30
30     2052.04
31     2547.07
32     1608.42
33     8934.45
34    15640.59
35     3147.16
36      501.79
37      265.49
38    10869.06
39      218.56
40    76346.72
41      401.89
42      814.71
43       74.37
44      525.54
45     1910.22
46      180.08
47      615.66
48     3758.22
49      501.50
50     4341.38
51    79045.15
52      361.43
53      248.95
Name: spending, dtype: float64

In [18]:
spending_practical_df.iloc[[0, 4, 9 ]]

,unique_id,doctor_id,specialty,medication,nb_beneficiaries,spending
0,BK982218,1750389599,INTERNAL MEDICINE,AZITHROMYCIN,12,77.26
4,JA436080,1073781571,NEUROLOGY,LAMOTRIGINE,12,8873.70
9,EQ932492,1336217306,INTERNAL MEDICINE,OXYCODONE HCL,11,355.43

In [19]:
spending_practical_df.loc[[12, 21 ], ["specialty", "spending"]]

            specialty  spending
12  INTERNAL MEDICINE    349.58
21  INTERNAL MEDICINE    618.52