In [1]:
farewell = ["G", "O", "O", "D", "B", "Y", "E"]
farewell[0:5]

['G', 'O', 'O', 'D', 'B']

In [ ]:
The code above returns a subset consisting of the first 5 elements  of the array `farewell`

In [3]:
def third(some_list):
    return some_list[2]

In [4]:
third([1,3,10,2,11,29,0])

10

In [7]:
nums_to_ints= {"one":1, "two":2, "three":3, "four":4, "five":5, "six":6}

In [9]:
nums_to_ints["five"]

5

In [12]:
nums_to_ints.pop("one")

1

In [13]:
nums_to_ints

{'five': 5, 'four': 4, 'six': 6, 'three': 3, 'two': 2}