In [2]:
import pandas as pd

In [3]:
spending_practical_df = pd.read_table("data/joining_data_practical.tsv")
spending_practical_df.head()

,unique_id,doctor_id,specialty,medication,nb_beneficiaries,spending
0,NX531425,1255626040,FAMILY PRACTICE,METFORMIN HCL,30,135.24
1,QG879256,1699761833,FAMILY PRACTICE,ALLOPURINOL,30,715.76
2,FW363228,1538148804,INTERNAL MEDICINE,LOSARTAN POTASSIUM,146,1056.47
3,WD733417,1730200619,PSYCHIATRY,OLANZAPINE,13,28226.97
4,XW149832,1023116894,FAMILY PRACTICE,PRAVASTATIN SODIUM,348,8199.48

In [4]:
medication_to_class_p1 = pd.read_table("data/medication_to_class_part_1.tsv")
medication_to_class_p1.head()

,medication_name,opioid_drug,antibiotic_drug,high_risk,antipsychotic_drug
0,ABACAVIR SULFATE,N,N,N,N
1,ABACAVIR SULFATE/LAMIVUDINE,N,N,N,N
2,ABACAVIR/DOLUTEGRAVIR/LAMIVUDI,N,N,N,N
3,ABACAVIR/LAMIVUDINE/ZIDOVUDINE,N,N,N,N
4,ABATACEPT,N,N,N,N

In [5]:
merged_data = spending_practical_df.merge(medication_to_class_p1, how="left", left_on="medication", right_on="medication_name")
merged_data["medication_name"].isnull().sum()

2432

In [6]:
medication_to_class_p2 = pd.read_table("data/medication_to_class_part_2.tsv")

medication_to_class_ALL = pd.concat([medication_to_class_p1, medication_to_class_p2])
medication_to_class_ALL.shape

(1783, 5)

In [7]:
merged_data = spending_practical_df.merge(medication_to_class_ALL, how="left", left_on="medication", right_on="medication_name")
merged_data["medication"][merged_data["medication_name"].isnull()]

1972    0.9 % SODIUM CHLORIDE
3052    0.9 % SODIUM CHLORIDE
6146    0.9 % SODIUM CHLORIDE
7274    0.9 % SODIUM CHLORIDE
Name: medication, dtype: object